<!DOCTYPE html>
<html>
<head>
	<title>errorroute</title>
</head>
<body>
<p>You have been redirected here</p><br>
<p>You can only check these endpoints below</p><br>
<div>
	<a href="http://localhost:8080/setcookie">setcookie</a><br>
	<a href="http://localhost:8080/getcookie">getcookie</a><br>
	<a href="http://localhost:8080/robots.txt">robots.txt</a><br>
	<a href="http://localhost:8080/image">image</a><br>
	<a href="http://localhost:8080/html">html</a><br>
	<a href="http://localhost:8080/input">input</a><br>
	<a href="http://localhost:8080/authors">authors</a>
</div>
</body>
</html>